.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5vw 5vw;
  padding: 1em;
  animation: apparition 1.5s;
  animation: transition 1s;
  overflow: hidden;
}

.logo{
  background-color: #18fad9;
  border-radius: 50%;
  padding: 0.5em;
  width: 100px;
}

@keyframes apparition {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.customButton {
  cursor: pointer;
  padding: 12px 20px;
  background-color: transparent;
  color: #18fad9;
  font-weight: 550;
  border:none;
  text-transform: uppercase;
  width: fit-content;
  transition-duration: 200ms;
}

@keyframes transition {
  0% {
    background-color: #18fad9;
    transform: translateY(+500%);
  }
  100% {
    transform: translateY(0%);
  }
}

.selected {
  padding: 1px 0;
  background-color: #18fad9;
  color: black;
  animation: hover 0.05s linear;
}


@keyframes hover {
  0% {
    transform: translateX(-60%);
  }
  100% {
    transform: translateX(0%);
  }
}
